<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/quiz.css">
    
    <script src="scripts/quizController.js"></script>
    
    
    
</head>
<body ng-app="QuizApp" ng-controller="quizController" >
    <!-- header -->
    <div class="center-header padding-from-top-25">
        <div class="col-sm-4 row-align-flex">
            <div class="col-sm-4"><img ng-src="{{emblem}}" class="half-height-float-left"></div>
            <div class="col-sm-4"><h2 class="text-to-middle">TEST</h2></div>
            <div class="col-sm-4"><img ng-src="{{emblem}}" class="half-height-float-right"></div>
        </div>
    </div>
    <br> <br>
    <!-- User Input Form -->
    <div class="col-sm-12 user-input-container" ng-show="!startQuiz && !quizInProgress" ng-init="acceptUserInfo = true">
        <form class="md-form padding-top-15 form-min-width" name="beginForm">
            <div class="col-sm-12 form-group">
                <h3>Sisestada andmed</h3>
            </div>
            <div class="col-sm-12 form-group">
                <label for="userName">Ees- ja perekonnanimi:</label>
                <input id="userName" class="form-control" type="text" ng-minlength="5" ng-required="true" ng-pattern="/^[a-z ,.'-]+$/i" ng-model="name" ng-disabled="!acceptUserInfo"/>
                <span class="red-color" ng-show="acceptUserInfo && beginForm.name.$dirty && beginForm.name.$invalid">Nimi peab olema vähemalt 5 tähemärki!</span>
            </div>
            <div class="col-sm-12 form-group">
                <label for="userEmail">E-mail:</label>
                <input id="userEmail" class="form-control" type="text" ng-minlength="5" ng-required="true" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" ng-model="email" ng-disabled="!acceptUserInfo"/>
                <span class="red-color" ng-show="acceptUserInfo && beginForm.email.$dirty && beginForm.email.$invalid">Nimi peab olema vähemalt 5 tähemärki!</span>
            </div>
            <div class="col-sm-12 form-check">
                <input type="checkbox" class="form-check-input" id="acceptUserInfoCheckbox" ng-model="acceptUserInfo" ng-click="clearFormValues()">
                <label class="form-check-label" for="acceptUserInfoCheckbox">Soovin oma andmeid jagada</label>
            </div>
            <div class="col-sm-12">
                <button ng-disabled="!testStartable()" id="quizButton" type="button" class="btn btn-primary btn-lg btn-block" ng-click="startQuizApp(name, email)">Alusta testi</button>
                <div class="padding-top-15" ng-show="!startQuiz && !quizInProgress && statisticsToShow()" ng-init="loadStatistics()">
                    <div class="accordion" id="statisticsAccordion">
                        <div class="card">
                            <div class="card-header" id="statisticsHeader">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Näita tulemusi
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="statisticsHeader" data-parent="#statisticsAccordion">
                                <div class="card-body accordion-body-fill">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nimi</th>
                                                <th scope="col">Tulemus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="statistic in statistics.statisticItems">
                                                <th scope="row">{{$index + 1}}</th>
                                                <th>{{statistic.name}}</th>
                                                <th>{{statistic.percentageResult * 100 | number:2 }}%</th>
                                            </tr>
                                        </tbody>
                                    </table>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="quizInProgress && quiz == null" class="center-text">
        Laen testi...
    </div>
    
    <!-- Display Questions ( and answers ) -->
    <div ng-show="quizInProgress || quizFinished">
        
        <!-- Progressbar -->
        <div ng-show="quizInProgress" class="progress">
            <div class="progress-bar" role="progressbar" ng-style="{ width: questionsAnswered(quiz) + '0%'}"aria-valuenow="{{questionsAnswered(quiz)}}" aria-valuemin="0" aria-valuemax="10"></div>
        </div>
        
        <div ng-show="quizFinished" class="center-text">
            Saavutasite tulemuse {{ quizResults.points }} punkti {{ quizResults.maxPoints }} punktist. ({{ (quizResults.points/quizResults.maxPoints)*100 | number:2 }}%)
        </div>
    
        <!-- Pick questions from list -->
        <div ng-show="quizInProgress">
            <ul>
                <li class="question-list-item" ng-repeat="question in quiz.questions" ng-click="setSelected($index)" >
                    <a ng-class="{ 'answered' : isQuestionAnswered(question) , 'active' : $index == selected}">{{$index+1}}</a></li>
            </ul>
        </div>
        
        <div ng-show="quizFinished">
            <ul>
                <li class="question-list-item" ng-repeat="question in quiz.questions" ng-click="setSelected($index)" >
                    <a ng-class="{ 'success' : isQuestionAnsweredCorrectly(question, quizResults) , 'failed' : !isQuestionAnsweredCorrectly(question, quizResults), 'underline' : $index == selected}">{{$index+1}}</a></li>
            </ul>
        </div>
        
        <!-- display question -->
        <div class="row padding-from-top-25">
            <div class="col-sm-4 align-center"><a type="button" class="btn btn-light" ng-click="setSelected(selected - 1)"><<</a></div>
            <div class="col-sm-4 align-items-center" ng-style="{height: hgt+ 'px'}">
                <h3> Küsimus {{selected+1}}</h3>
                <div ng-show="selectedQuestion.picturePath != ''">
                    <img class="image-center" data-ng-src="{{selectedQuestionPicture}}">
                </div>
                <h4> {{selectedQuestion.description}} </h4>

                <!-- if multiplechoice then checkboxes -->
                <div ng-show="selectedQuestion.multipleChoice">
                    <div class="form-check" ng-repeat="answer in selectedQuestion.answers"> 
                        <input ng-disabled="quizFinished" type="checkbox" class="form-check-input" id="answer{{answer.id}}" ng-model="answer.answered">
                        <label class="form-check-label" for="answer{{answer.id}}" ng-class ="{ 'succeeded-answer' : quizFinished && isAnswerAnsweredCorrectly(selectedQuestion, quizResults, answer), 'failed-answer' : quizFinished && !isAnswerAnsweredCorrectly(selectedQuestion, quizResults, answer)}">{{answer.description}}</label>
                    </div>
                </div>
                <!-- if !multiplechoice then radiobutton -->
                <div ng-show="!selectedQuestion.multipleChoice">
                    <div class="form-check" ng-repeat="answer in selectedQuestion.answers"> 
                        <input ng-disabled="quizFinished" type="radio" class="form-check-input" id="answer{{answer.id}}" ng-model="answer.answered" ng-value="true" ng-click="checkOnlyOne(answer, selectedQuestion.answers)">
                        <label class="form-check-label" for="answer{{answer.id}}" ng-class ="{ 'succeeded-answer' : quizFinished && isRadioAnswerAnsweredCorrectly(selectedQuestion, quizResults, answer), 'failed-answer' : quizFinished && !isRadioAnswerAnsweredCorrectly(selectedQuestion, quizResults, answer)}">{{answer.description}}</label>
                    </div>
                </div>
                <div ng-show="questionsAnswered(quiz) == 10" class="row">
                    <div ng-show="quizInProgress" class="col-sm-12">
                        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="submitTest()">Esita</button>
                    </div>
                    <div ng-show="quizFinished" class="col-sm-12">
                        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="closeTest()">Lõpeta ülevaatus</button>
                    </div>
                </div>  
            </div>
            <div class="col-sm-4 align-center align-middle"><a type="button" class="btn btn-light float-right" ng-click="setSelected(selected +1)">>></a></div>
        </div>
    </div>
    
    
</body>
</html>