ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.question-list-item {
    float: left;
    width: 10%;
}


.question-list-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  color: #9ACD32
}

.question-list-item .active {
  background-color: #ffff00;
  color: gray;
  text-decoration: underline !important;
}

.question-list-item .answered {
  background-color: #7CFC00;
    color: gray
}

.question-list-item a:hover {
  background-color: #ADFF2F;
    color: gray
}

.question-list-item .success {
  background-color: #7CFC00;
    color: gray
}

.question-list-item .failed {
  background-color: red;
    color: gray
}


.succeeded-answer {
    color: #7CFC00 !important;
}

.failed-answer {
    color: red !important;
}


.image-center {
    border: 2px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center-header {
    display: flex;    
    align-items: center;    
    flex-direction: column;
}

.row-align-flex {
    display: flex; 
    flex-direction: row;
}

.half-height-float-left {
    height: 50px; 
    float: left;
}

.half-height-float-right {
    height: 50px; 
    float: right;
}

.user-input-container {
    display: flex;    
    align-items: center;    
    flex-direction: column;
}

.padding-from-top-15 {
    padding-top: 15px;
}

.padding-from-top-25 {
    padding-top: 25px;
}

.align-center {
    align-self: center;
}

.float-right {
    float: right;
}

.red-color {
    color: red;
}

.underline {
    text-decoration: underline !important;
}

.center-text {
    display: flex;
    justify-content: center;
}

.text-to-middle {
    justify-content: center;
    display: flex;
}

html,body { height:100%; }

.accordion-body-fill {
    max-height: 200px;
    overflow-x: auto;
}
.form-min-width {
    min-width: 350px;
}